<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8" />
    <title>Chỉnh sửa thông tin</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/css/background.css" />
    <link rel="stylesheet" href="/css/registered.css" />
    <div class="box_header" id="top_page">
        <h1>quản lý thông tin</h1>
        <div class="background_list_header">
            <ul id="list_header">
                <li class="list_header">
                    <a class="option_header" href="/home">Trang chủ</a>
                </li>
                <div class="dropdown">
                    <li class="list_header">
                        <a class="option_header" href="#">Đăng ký thông tin</a>
                        <div class="dropdown_content">
                            <a href="/admin/register-student">Sinh viên</a>
                            <a href="/admin/register-teacher">Giảng viên</a>
                        </div>
                    </li>
                </div>
                <div class="dropdown">
                    <li class="list_header">
                        <a class="option_header" href="#">Chỉnh sửa thông tin</a>
                        <div class="dropdown_content">
                            <a href="/admin/choose-student">Sinh viên</a>
                            <a href="/admin/choose-teacher">Giảng viên</a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <form action="#" th:action="@{/logout}" method="POST">
        <button type="submit" id="log_out">Logout</button>
    </form>
</head>
<main>
	<div class="box">
		<h2>Đã chỉnh sửa thành công cho giảng viên</h2>
		<br /><br />
		<div class="registered">
			Mã số giảng viên: <span th:text="${iduser}"></span> <br /><br /><br />
			Họ và tên: <span th:text="${fullname}"></span> <br /><br /><br />
			Lớp chủ nhiệm: <span th:text="${classroom}"></span> <br /><br /><br />
			Ngày tháng năm sinh: <span th:text="${birth}"></span> <br /><br /><br />
			Số điện thoại: <span th:text="${phone}"></span> <br /><br /><br />
			Email: <span th:text="${mail}"></span> <br /><br /><br />
			Số chứng minh nhân dân: <span th:text="${piduser}"></span> <br /><br /><br />
			Quê quán: <span th:text="${country}"></span> <br /><br /><br />
			<a href="/admin/change-information-teacher">
				<input id="change" type="submit" value="Sửa lại thông tin" /><br /><br />
			</a>
			<a href="/admin/choose-teacher">
				<input id="change" type="submit" value="Chọn giảng viên khác" /><br /><br />
			</a>
			<a href="/home">
				<input id="change" type="submit" value="Về trang chủ" /><br /><br />
			</a>
		</div>
	</div>
</main>
<footer>
    <a href="#top_page">
        <button type="submit" id="to_top">Trở về đầu trang</button>
    </a>
</footer>
</html>
