<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8" />
    <title>Chỉnh sửa thông tin</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/css/background.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <div class="box_header" id="top_page">
        <h1>quản lý thông tin</h1>
        <div class="background_list_header">
            <ul id="list_header">
                <li class="list_header">
                    <a class="option_header" href="/home">Trang chủ</a>
                </li>
                <div class="dropdown">
                    <li class="list_header">
                        <a class="option_header" href="#">Đăng ký thông tin</a>
                        <div class="dropdown_content">
                            <a href="/admin/register-student">Sinh viên</a>
                            <a href="/admin/register-teacher">Giảng viên</a>
                        </div>
                    </li>
                </div>
                <div class="dropdown">
                    <li class="list_header">
                        <a class="option_header" href="#">Chỉnh sửa thông tin</a>
                        <div class="dropdown_content">
                            <a href="/admin/choose-student">Sinh viên</a>
                            <a href="/admin/choose-teacher">Giảng viên</a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <form action="#" th:action="@{/logout}" method="POST">
        <button type="submit" id="log_out">Logout</button>
    </form>
</head>
<main>
    <form th:action="@{/admin/change-information-teacher}" class="form" method="POST">
        <h2>Chỉnh sửa thông tin cho giảng viên</h2>
        <hr />
        <br /><br />
        Mã số giảng viên: <span th:text="${iduser}"></span> <br /><br />
        <strong class="red_color">*</strong>Họ và tên:<br /><br />
        <input type="text" th:value="${fullname}" name="fullnameafter" placeholder="Nhập đầy đủ họ và tên" required /><br /><br />
        <strong class="red_color">*</strong>Lớp chủ nhiệm:<br /><br />
        <input type="text" th:value="${classroom}" name="classroomafter" placeholder="Nhập lớp học" required /><br /><br />
        <strong class="red_color">*</strong>Ngày tháng năm sinh:<br /><br />
        <input type="date" th:value="${birth}" name="birthafter" max="2020-12-31" min="1900-01-01" required /><br /><br />
        <strong class="red_color">*</strong>Số điện thoại:<br /><br />
        <input type="text" th:value="${phone}" name="phoneafter" placeholder="Nhập số điện thoại" required /><br /><br />
        <strong class="red_color">*</strong>Email:<br /><br />
        <input type="text" th:value="${mail}" name="mailafter" placeholder="Nhập email" required /><br /><br />
        <strong class="red_color">*</strong>Số chứng minh nhân dân:<br /><br />
        <input type="text" th:value="${piduser}" name="piduserafter" placeholder="Nhập số chứng minh nhân dân" required /><br /><br />
        <strong class="red_color">*</strong>Quê quán:<br /><br />
        <input type="text" th:value="${country}" name="countryafter" placeholder="Nhập quê quán" required /><br /><br />
        <div class="center_align">
            <input id="register" type="submit" value="Chỉnh sửa" /><br /><br />
        </div>
    </form>
</main>
<footer>
    <a href="#top_page">
        <button type="submit" id="to_top">Trở về đầu trang</button>
    </a>
</footer>
</html>
